<!DOCTYPE html>
<html ng-app>
  <head>
    <title>The Ladder - v2</title>
    <link rel="stylesheet" href="public/css/base.css">
  </head>
  <body>
    <div id="toolbar">
      <div class="avatar"></div>
      <div id="name_input"></div>
    </div>
    <div id="singles" class="ladder">
  
    </div>
    <div id="doubles" class="ladder">
      
    </div>
    <script type="text/javascript" src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="/node_modules/angular/angular-route.min.js"></script>
  </body>
</html>